
.dashboard {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}


.header {
    margin-bottom: 20px;
    text-align: center;
}


h1 {
    font-size: 2rem;
    color: #333333;
    margin-bottom: 20px;
}

p {
    font-size: 1rem;
    color: #666666;
    margin-bottom: 10px;
}


.logo {
    width: 250px;
    height: auto;
    margin-bottom: 20px;
}
